.divLogotipo{
    text-align: left;
}

#secEncabezadoPagina{
    background-color: #a8c3e2;
}

.divLogotipo img{
    height: 3em;
}

.divLog{
    text-align: right;
}

.divLog img{
    height: 2em;
}

.divTituloApp{
    text-align: center;
    color: rgb(32, 36, 25);
    font-size: 1.5rem;
}